body, header, ul, li, a, h3, p, ol, img, main, section, aside, footer {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#207cca+45,84cc7c+100 */
	background: #207cca; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover,  #207cca 45%, #84cc7c 100%); /* FF3.6-15 */
	background: -webkit-radial-gradient(center, ellipse cover,  #207cca 45%,#84cc7c 100%); /* Chrome10-25,Safari5.1-6 */
	background: radial-gradient(ellipse at center,  #207cca 45%,#84cc7c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#207cca', endColorstr='#84cc7c',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	background-size: 100% 22%;
	background-repeat: no-repeat;
}

#wrapper {
	width: 80%;
	margin: 0 auto;
	margin-bottom: 20px;
}

header:after,
main:after,
footer:after {
	content: "";
	clear: both;
	display: block;
	height: 0;
	zoom: 1;
}

/*--------- header --------- */

#wrapper > header {
	height: 30%;
}

header img {
	height: 200px;
}

header > div {
	margin: 0 auto;
	width: 30%;
}

header ul li {
	list-style: none;
	display: inline-block;
	padding: 5px 20px;
	margin: 0px 20px;         
}

header ul li:hover {
	background-color: #EBA71B;
}

.left-menu {
	float: left;
	border-left: 2px solid #EBA71B; 
	border-bottom: 2px solid #EBA71B;    
	border-radius: 3px;
}

.right-menu {
	float: right;
	border-right: 2px solid #EBA71B; 
	border-bottom: 2px solid #EBA71B;  
	border-radius: 3px;
}

header ul li a {
	text-decoration: none;
	color: #fff;
	font-size: 1.3em;
	text-transform: uppercase;
	letter-spacing: 2px;
}

/*--------- main --------- */

main {
	border-top: 2px solid #1F4668; 
	border-bottom: 2px solid #1F4668;    
	border-radius: 20px; 
	padding: 25px;
	margin: 40px 0px;
}

main section {
	width: 65%;
	float: left;
}

aside {
	width: 35%;
	float: right;
}

h3 > a {
	text-decoration: none;
	font-size: 1em;
	color: #1F4668;
}

section article h3 {
	margin-left: 20px;
}

.athiles-h3 {
	margin-bottom: 20px;
}

article p {
	margin: 10px 0px;
	padding: 10px;
	border: 2px solid #EBA71B;
	border-radius: 5px;
	font-size: 1.1em;
	text-align: justify;
	color: #1F4668;
}

article p > a,
aside article p > a {
	text-decoration: none;
	font-size: 1em;
	color: #005f00;
}

section > article p {
	width: 85%;
	margin-left: 20px;
}

aside article h3,
.athiles-h3 {
	text-transform: uppercase;
}

aside article p {
	width: 95%;
}

/*--------- footer --------- */

footer {
	border-top: 2px solid #1F4668; 
	border-bottom: 2px solid #1F4668;    
	border-radius: 20px;
	height: 20%;
}

footer p {
	font-size: 1.3em;
	color: #1F4668;
	text-align: center;
	font-weight: bold; 
	letter-spacing: 1px;
	line-height: 70px;
}